.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.sign-in-container .form-signin {
    width: 350px;
}

.material-icons.red-warning {
    color: #cd3333;
}

.alarm-popup {
    background: rgb(200, 54, 54); /* The Fallback */
    background: rgba(200, 54, 54, 0.5);
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alarm-popup .card {
    width: 500px;
}

.consultations-list {
    max-height: 75vh;
    overflow-y: auto;
}

.alarms-list {
    max-height: 80vh;
    overflow-y: auto;
}

.patient-list .card-body,
.patient-update-form,
.create-patient-form {
    box-shadow: 5px 5px 5px grey;
}

.patient-details-title {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    text-align: center;
    margin-top: 20px;
}